.singlefeed {
    background-color: white;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 20px;
    width: 580px;
}
.singlefeed_name {
    display: flex;
    align-items: center;
}
.singlefeed_name > p {
    margin-left: 15px;
    font-weight: 700;
}
.singlefeed_desc {
    margin-top: 10px;
    padding: 10px 0;
    word-wrap:break-word;
}
.singlefeed_icons {
    display: flex;
}
.like_icon, .comment_icon {
    display: flex;
    align-items: center;
    margin: 0 20px;
    margin-top: 10px;
    font-size: 14px;
    color: #3f51b5;
}
.like_icon > p, .comment_icon > p {
    margin-left: 4px;
}
.like_comment {
    width: 25px;
    color: #3f51b5;
}
.like_comment:hover {
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .singlefeed {
        width: 80vw;
    }
}