.feeds {
    display: flex;
    margin: 20px 10%;
}
.feeds_left {
    flex: 0.2;
}
.feeds_mid {
    flex: 0.6;
}
.feeds_right {
    flex: 0.2;
}

@media only screen and (max-width: 1200px) {
    .feeds {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 2%;
    }
    .feeds_mid {
        flex: 1;
    }
    .feeds_left {
        display: none;
    }
    .feeds_right {
        display: none;
    }
}