.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color:  #efefef;
    font-size: 18px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}
.gmail, .link, .love {
    width: 25px;
    margin: 0 5px;
    margin-top: 3px;
}
.gmail:hover, .link:hover, .love:hover {
    transform: translateY(-3px);
}

@media only screen and (max-width: 400px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background-color:  #efefef;
        font-size: 18px;
        flex-direction: row;
    }
    .gmail, .link, .love {
        width: 20px;
        margin: 0 5px;
        margin-top: 3px;
    }
    .gmail:hover, .link:hover, .love:hover {
        transform: translateY(-3px);
    }
}